*,body{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: #34495e;
	font-size: 16px;
}
@font-face {
    font-family: oswald;
    src: url(../fonts/Oswald-Light.ttf);
}
@font-face {
    font-family: ubuntu-m;
    src: url(../fonts/Ubuntu-M.ttf);
}
@font-face {
    font-family: ubuntu;
    src: url(../fonts/Ubuntu-L.ttf);
}
@font-face {
    font-family: opensans-l;
    src: url(../fonts/OpenSans-Light.ttf);
}
/*  CABEZERA  */
header{
	width: 100%;
	height: 7%;
	background-color: #f1c40f;
}
#logo{
	margin-left: 2.5%;
	padding: 5px;
	height: 100%;
	float: left;
	font-family: ubuntu-m;
	font-size: 2em;
	color: white;
}
#ops_users{
	margin-right: 20px;
	padding-top: .7em;
	float: right;
	color: white;
	font-family: opensans-l;
	font-weight: bold;
	font-size: 1em;
	text-transform: capitalize;
}
#ops_users a{
	margin-left: .7em;
	color: #2c3e50;
	text-decoration: none;
}
#ops_users a:hover{
	color: #2980b9;
}
.name_user{
	padding: 0 .5em;
	display: inline;
	background-color: #34495e;
	/*border: 1px green solid;*/
	border-radius: 3px;
}
/*  FIN CABEZERA  */
#contenedor{
	margin: 0 auto;
	width: 100%;
	height: 93%;
}
.menu{
	height: 7%;
	background-color: #2980b9;
	color: white;
	font-family: ubuntu;
}
.menu ul{
	height: 100%;
	list-style: none;
}
.menu li{
	margin: 0 1em 0 1em;
	padding-top: 1%;
	float: left;
	text-align: center;
}
.menu a{
	text-decoration: none;
	color: white;
}
.menu a:hover{
	color: yellow;
}
#central{
	padding: 2em 2.5em;
	height: 93%;
	background-color: #ecf0f1;
}

.bloque-1, .bloque-2{
	width: 48%;
	height: 30%;
	background-color: #bdc3c7;
}
.bloque-1, .bloque-3{
	float:left;
}
.bloque-2{
	float: right;
}
.bloque-3{
	margin-top: 2.5em;
	width: 100%;
	height: 62%;
	background-color: #bdc3c7;
}