*{	
	margin: 0; 
	padding: 0;
	box-sizing: border-box;
}
html, body { 
	height: 100%; 
	margin: 0; 
	padding: 0; 
	font-family: oswald;
	background-color: #bdc3c7;
}
@font-face {
    font-family: oswald;
    src: url(../fonts/Oswald-Light.ttf);
}
@font-face {
    font-family: ubuntu;
    src: url(../fonts/Ubuntu-L.ttf);
}
@font-face {
    font-family: ubuntu-m;
    src: url(../fonts/Ubuntu-M.ttf);
}
@font-face {
    font-family: opensans-l;
    src: url(../fonts/OpenSans-Light.ttf);
}

/*  HEADER  */
header{
	width: 100%;
	height: 7%;
	background-color: #27ae60;
}
#logo{
	margin-left: 2.5%;
	padding: 5px;
	height: 100%;
	float: left;
	font-family: ubuntu-m;
	font-size: 2em;
	color: white;
}
#ops_user{
	padding: 15px;
	width: 20%;
	height: 100%;
	text-align: right;
	float:right;
}
/*  TERMINA HEADER  */

/*  CONTENIDO  */

section{
	width: 100%;
	height: 93%;
}

/*  SIDEBAR  */
#sidebar{ 
	width: 22.5%;
	height: 100%; 
	float: left; 
	background-color: #ecf0f1;
	border-right: 1px #27ae60 solid;
}
#panelRuta{
	width: 100%;
	height: 75%;
	background-color: white;
	padding: 0 0;
	overflow: scroll;
}
/*  MENU SIDEBAR  */
#menu-sidebar{
	width: 100%;
	height: 8%;
	/*background-color: rgb(181,230,29);*/
	background-color: #2ecc71;
}
#menu-sidebar ul{
	height: 100%;

}
#menu-sidebar li{
	padding-top: 3%;
	width: 50%;
	height: 100%;
	float: left;
	text-align: center;
	list-style: none;
	font-size: 1.2em;
}
#menu-sidebar li a{
	text-decoration: none;
	color: #FFF;
}
#menu-sidebar li a:hover{
	color: yellow;
}
/*  TERMINA MENU SIDEBAR  */

/*  CONTENIDO SIDEBAR  */
/*  BUSCAR RUTA  */
#pnl_buscar_rutas, #pnl_crear_ruta{
	width: 100%;
	height: 92%;
}
#pnl_buscar_rutas{
	background-color: white;
	display: none;
	overflow: scroll;
}
#elem{
	margin-bottom: 5px;
	padding: 10px;
	background-color: beige;
}
#elem h1{
	font-family: opensans-l;
	font-size: 1em;
}
#elem p{
	color: #aaa;
	font-size: .95em;
}
#elem a{
	color: black;
	text-decoration: none;
}
#elem a:hover{
	width: 100%;
	height: 100%;
	color: green;
}
/*  TERMINA BUSCAR RUTA  */

/*  CREAR RUTA  */
#pnl_crear_ruta{
	background-color: ivory;
	color: brown;
}
#pnl_crear_ruta form{
	padding: 1em 1.5em;
	height: 25%;
}
#pnl_crear_ruta p{
	margin-bottom: 8px;
	font-family: oswald;
	font-size: 1.3em;
	color: brown;
}
#pnl_crear_ruta input{
	width: 100%;
	margin-bottom: 1em;
	padding: 5px;
	font-size: .9em;
}
/*  TERMINA CONTENIDO SIDEBAR  */

/*  CONTENEDOR  */
#contenido{
	margin: 2.5% 2.5% 2% 2.5%;
	width: 72.5%;
	height: 89%;
	float: right;
	border: 1px #7f8c8d solid;
	background-color: #abcdef;
}
/*  BIENVENIDA  */
#bienvenida{
	width: 100%;
	height: 100%;
	text-align: center;
}
/*  TERMINA BIENVENIDA  */
/*  MAPA  */
#map { 
	width: 60%; 
	height: 100%;
	float: left; 
	border-right: 1px #95a5a6 solid;
	background-color: #456789;
	display: none; /*si acaba de iniciar*/
}
/*  TERMINA MAPA  */
#info{
	padding: 10px;
	width: 40%;
	height: 100%;
	background-color: #ecf0f1;
	float: right;
	color: #333;
	display: none; /*si acaba de iniciar*/
}
#titular{
	padding-bottom: 5px;
	width: 100%;
	border-bottom: 1px #333 solid;
}
#titular h3{
	font-family: ubuntu;
	font-size: .8em;
}
#extras{
	margin-top: 10%;
	width: 100%;
	height: 70%;
}
#extras h2{
	font-size: 1.3em;
}
.tip_info{
	padding-top: 5px;
	border-top: 1px #333 solid;
}
.tip_info p{
	font-family: verdana;
	font-size: .8em;
}
#opciones{
	margin-top: 10px;
	padding-top: 5px;
	width: 100%;
}
#opciones input[type=submit], #creacion input[type=submit]{
	margin-top: 10px;
	padding: 5px;
	background-color: rgb(181,230,29);
	border: 1px #AFB42B solid;
	color: white;
	font-family: ubuntu;
	font-size: 1em;
}
#creacion{
	padding: 3%;
	width: 40%;
	height: 100%;
	float: right;
	background-color: white;
	display: none;
	font-size: 1em;
	font-family: opensans-l;
}

#creacion h1{
	text-align: center;
}
#creacion h2{
	margin-top: 15px;
	color: brown;
	font-size: 1em;
}
#creacion form{
	width: 100%;
}
#creacion input{
	border: 1px #A9A9A9 solid;
	border-radius: 3px;
}
#creacion input[type=text]{
	margin-top: 8px;
	padding: 5px;
	width: 100%;
	font-size: .9em;
}
#creacion input[type=checkbox]{
	margin: 10px 3px 0 0;
}
