/* CONJUNTO DE ESTILOS UNIFICADOS */

/************* UNIVERSAL **************/
*,body{
	margin:0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	font-size: 16px;
}
@font-face {
    font-family: oswald;
    src: url(../fonts/Oswald-Light.ttf);
}
@font-face {
    font-family: ubuntu-m;
    src: url(../fonts/Ubuntu-M.ttf);
}
@font-face {
    font-family: ubuntu;
    src: url(../fonts/Ubuntu-L.ttf);
}
@font-face {
    font-family: opensans-l;
    src: url(../fonts/OpenSans-Light.ttf);
}
header{
	width: 100%;
	height: 7%;
	background-color: #f1c40f;
}
#logo{
	margin-left: 2.5%;
	padding: 5px;
	height: 100%;
	float: left;
	font-family: ubuntu-m;
	font-size: 2em;
	color: white;
}
#ops_users{
	margin-right: 20px;
	padding-top: .7em;
	float: right;
	color: white;
	font-family: opensans-l;
	font-weight: bold;
	font-size: 1em;
	text-transform: capitalize;
}
#ops_users a{
	margin-left: .7em;
	color: #2c3e50;
	text-decoration: none;
}
#ops_users a:hover{
	color: #2980b9;
}
.name_user{
	padding: 0 .5em;
	display: inline;
	background-color: #34495e;
	border-radius: 3px;
}
.menu{
	height: 7%;
	background-color: #2980b9;
	color: white;
	font-family: ubuntu;
}
.menu ul{
	height: 100%;
	list-style: none;
}
.menu li{
	margin: 0 1em 0 1em;
	padding-top: 1%;
	float: left;
	text-align: center;
}
.menu a{
	text-decoration: none;
	color: white;
}
.menu a:hover{
	color: yellow;
}
#contenedor{
	width: 100%;
	height: 93%;
	background-color: #eeeded;
}
#ventana{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.85);
	position: fixed;
	top: 0;
	left: 0;
	display: none;
}
#cont_ventana{
	width: 85%;
	height: 80%;
	position: fixed;
	top:10%;
	left: 7.5%;
	border-radius: 5px;
}
.nav_ventana{
	padding: .75em;
	width: 100%;
	height: 5%;
	min-height: 2.5em;
	background-color: #eeeded;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom: 1px #ccc solid;
}
.nav_ventana h1{
	font-family: ubuntu;
	text-align: left;
	color: #2c3e50;
	display: inline-block;
}
.nav_ventana a{
	float: right;
	text-decoration: none;
}
#map_ventana{
	width: 65%;
	height: 95%;
	float:left;
	background-color: #2c3e50;
	border-bottom-left-radius: 5px;
}
#info_ventana{
	padding: .5em;
	width: 35%;
	height: 95%;
	float: right;
	border-left: 1px #ccc solid;
	overflow-y: auto;
	background-color: white;
	border-bottom-right-radius:5px;
	font-family: opensans-l;
	color: #2c3e50;
}
#info_ventana a{
	margin: auto;
	padding: .5em;
	width: 80%;
	background-color: #f1c40f;
	border-radius: 3px;
	display:block;
	text-align: center;
	text-decoration: none;
	color: #34495e;
	font-weight: bold;
}
.comments{
	margin-top: 1.5em;
	width: 100%;
	height: 50%;
	border-top: 1px #ccc solid;
}
.notification{
	position: absolute;
	margin-top: -5px;
	margin-left: -7px;
	padding: 1px 5px;
	color: #FFF;
	font-size: .7em;
	font-weight: lighter;
	background-color: #c0392b;
	border-radius: 20px;
}
/********************************************************/
/*************** PRINCIPAL ******************************/
#central{
	padding: 1.5em 2.5em;
	height: 93%;
	background-color: #eeeded;
	/*ecf0f1;*/
}

.bloques{
	background-color: white;
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.bloque-1, .bloque-2{
	width: 48%;
	height: 35%;
}
.bloque-1, .bloque-3{
	float:left;
}
.bloque-2{
	float: right;
}
#calificaciones{
	height: 82%;
	padding: .5em;
	color: #d35400;
	font-family: opensans-l;
	overflow-y: scroll;
}
.bloque-3{
	margin-top: 1.5em;
	width: 100%;
	height: 62%;
}
.title{
	padding: 3px 10px;
	height: 2em;
	background-color: #34495e;
	color: white;
	font-family: ubuntu;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.show_rides{
	height: 82%;
	overflow-y: scroll;
	font-family: ubuntu;
}
.ride{
	margin: .5em .5em 0 .5em;
	padding: .5em;
	width: 97.5%;
	background-color: #eeeded;
	border-radius: 2px;
}
.ride a{
	color: #c0392b;/*#34495e;*/
	text-decoration: none;
}
.ride a:hover{
	color:red;
}
.ride h4{
	display: inline;
}
.destino{
	padding: 2px;
	border-radius: 2px;
	float: right;
}
.universidad{
	background-color: #FFEB3B;
	color: #34495e;
}
.mederos{
	background-color: #e74c3c;
	color: white;
}
.hospital{
	background-color: #1abc9c;
	color: white;
}
/********************************************************/
/*************** CREAR RUTA ***************/
#sidebar_a{
	width: 30%;
	height: inherit;
	float: left;
	background-color: #2c3e50;
}
#mapa_a{
	width: 70%;
	height: inherit;
}
#dar_ride{
	padding: 15px;
	width: 100%;
	height: 92%;
	color:white;
	font-family: opensans-l;
}
#dar_ride h1{
	text-align: center;
}
#dar_ride h2{
	margin-top: 15px;
	font-size: 1.1em;
	color: #3498db;
}
#dar_ride a{
	text-decoration: none;
	color: yellow;
}
#dar_ride a:hover{
	color: #f1c40f;
}
#dar_ride table{
	color: white;
}
#dar_ride form{
	width: 100%;
}
#dar_ride input{
	margin-top: 5px;
	border: 1px #A9A9A9 solid;
	border-radius: 3px;
}
#dar_ride input[type=text], select, input[type=time]{
	margin-top: 5px;
	padding: 4px;
	width: 100%;
	font-size: .9em;
}
#dar_ride input[type=checkbox]{
	margin: 10px 3px 0 0;
}
#dar_ride input[type=submit]{
	padding: 6px 10px;
	background-color: #f1c40f;
	color: white;
	font-weight: bold;	
	border: 1px #f1c40f solid
}
/********************************************************/
/*************** BUSCAR RUTA ***************/
#sidebar_b{
	width: 35%;
	height: inherit;
	float: left;
	background-color: #eeeded;
}
#mapa_b{
	width: 65%;
	height: inherit;
}
#buscar_ride{
	width: 100%;
	height: 100%;
	overflow-y: scroll;
}
#buscador{
	font-family: ubuntu-M;
}
#buscador select{
	width: 55%;
}
#buscador a{
	padding: 5px;
	color: white;
	background-color: #27ae60;
	text-decoration: none;
}
.box{
	margin: .7em;
	padding: .7em;
	background-color: white;
	border-radius: 2px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	font-family: opensans-l;
}
#elem h1{
	font-size: 1em;
	color: #34495e;
}
#elem p{
	color: #585858;
	font-size: .95em;
}
#elem a{
	text-decoration: none;
}
#elem a:hover{
	width: 100%;
	height: 100%;
	color: yellow;
}
#desc_ruta{
	padding: 15px;
	width: 100%;
	height: 100%;
	display: none;
	color: white;
	font-family: opensans-l;
	background-color: #2c3e50;
}
#desc_ruta h1{
	text-align: center;
	color: #f1c40f;
	border-bottom: 1px #ecf0f1 solid;
}
#desc_ruta h2{
	color: #f1c40f;
	border-bottom: 1px #ecf0f1 solid;
}
#desc_ruta p{
	color: #aaa;
	margin-bottom: 5px;
}
#desc_ruta ul{
	margin-top: 20px;
	width: 100%;
}
#desc_ruta li{
	margin-left: 3px;
	margin-right: 3px;
	width:48%;
	float: left;
	text-align: center;
	background-color: #ecf0f1;
	border-radius: 3px;
}
#desc_ruta a{
	color: #34495e;
	text-decoration: none;
	font-size: 1.3em;
}
#desc_ruta a:hover{
	color: #d35400;
}

/********************************************************/
#b-central{
	padding: 1.5em 2.5em;
	margin: 0 auto;
	width: 85%;
	height: 93%;
}
.b-perfil{
	padding: 1.5em;
	width: 22%;
	min-width: 280px;
	height: 100%;
	overflow: auto;
	float:left;
}
.b-perfil img{
	display: block;
	margin: 0 auto 1.5em auto;
	width: 60%;
	height: 30%;
	border-radius: 150px;
}
.b-perfil h2{
	margin-bottom: .5em;
	font-family: ubuntu;
	color: #34495e;
	text-align: center;
}
.b-perfil p,a{
	font-family: opensans-l;
}
.p-perfil-desc{
	margin-bottom: .6em;
	text-align: justify;
}
.b-perfil a{
	margin-top: 2em;
	padding: 4px;
	width: 49%;
	background-color: #f1c40f;
	color: black;
	border-radius: 3px;
	text-decoration: none;
	display: inline-block;
	text-align: center;
}
.b-perfil, .miRide a:hover{
	background-color: #f39c12;
}
.b-cont{
	width: 72%;
	height: 100%;
	float: right;
}
.b-cont h3{
	margin-bottom: .2em;
	font-family: opensans-l;
}
.b-int{
	padding: .6em;
	font-family: opensans-l;
}
.b-reputacion{
	width: 28%;
	height: 48.9%;
	float: right;
	text-align: center;
}
.b-reputacion img{
	margin-top: .7em;
	margin-bottom: .7em;
	width: 50%;
}
.b-calificaciones{
	width: 70%;
	height: 48.9%;
	float: left;
}
.b-rides{
	margin-top: .8em;
	width: 100%;
	height: 48.9%;
	float: left;
}
.a-calificacion{
	margin-bottom: .3em;
	padding: .3em;
	background-color: #eeeded;
}
.cal-pos{
	background-color: rgba(46,204,113,.5);
}
.cal-neg{
	background-color: rgba(231,76,60,.5);
}
.cal-neu{
	background-color: rgba(241,196,15,.4);
}
/********************************************************/
#notification-box{
	margin: 0 auto;
	width: 80%;
	height: 100%;
	font-family: ubuntu;
	overflow-y: auto;
}
#notification-box span{
	font-weight: bold;	
	text-transform: capitalize; 
}
#notification-box a{
	text-decoration: none;
	color: #585858;
}

.miRide{
	margin: 0 auto 2em auto;
	width: 80%;
	height: 30%;
}
.miRideDesc{
	width: 70%;
	height: 100%;
	float:left;
}
.miRideLinks{
	width: 30%;
	height: 100%;
	float:right;
}
.miRideLinks a{
	margin-top: 1.5em;
	margin-left: 1em;
	padding: 4px;
	width: 50%;
	background-color: #f1c40f;
	color: black;
	border-radius: 3px;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	float: right;
}