*{	
	margin: 0; 
	padding: 0;
}
html, body { 
	height: 100%; 
	margin: 0; 
	padding: 0; 
}
@font-face {
    font-family: oswald;
    src: url(Oswald-Light.ttf);
}
header{
	width: 100%;
	height: 7%;
	background-color: #27ae60;
}
header h1{
	font-family: oswald;
	color: white;
	text-align: center;
}
section{
	width: 100%;
	height: 93%;
}
#map { 
	width: 75%; 
	height: 100%; 
	float: right;
}
#sidebar{ 
	width: 25%;
	height: 100%; 
	float: left; 
	background-color: #2ecc71;
	border-right: 1px #27ae60 solid;
	box-sizing: border-box;
}
#sidebar form{
	padding: 1em 1.5em;
	box-sizing: border-box;
	height: 25%;
}
#sidebar p{
	margin: 0;
	font-family: oswald;
	font-size: 1.3em;
	color: white;
}
#sidebar input{
	width: 100%;
	margin-bottom: 1em;
	padding: 5px;
	font-size: .9em;
	box-sizing: border-box;
}
#panelRuta{
	width: 100%;
	height: 75%;
	background-color: white;
	padding: 0 0;
	overflow: scroll;
}